<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrossel</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="carrossel">
        <div class="faixa">
            {% for testimonial in testimonials %}
            <div class="item">
                <div id="div-img">
                    <img src="{{ testimonial.photo }}" alt="{{ testimonial.name }}">
                </div>
                <div class="itens-caixa">
                    <p><strong>{{ testimonial.name }}</strong></p>
                    <p>{{ testimonial.rating }}</p>
                    <p>{{ testimonial.comment }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="faixa">
            {% for testimonial in testimonials %}
            <div class="item">
                <div id="div-img">
                    <img src="{{ testimonial.photo }}" alt="{{ testimonial.name }}">
                </div> 
                <div class="itens-caixa">
                    <p><strong>{{ testimonial.name }}</strong></p>
                    <p>{{ testimonial.rating }}</p>
                    <p>{{ testimonial.comment }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
